*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

.titulo{
    text-align: center;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    color:aqua;
}

a{
    color:blue;
    padding: 10px;
    background-color: yellow;
    border-radius: 10px;
}

.enlaces{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.fotos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.letrero{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-inline-start: 5px;
    background-color: lightgray;
    border-radius: 10px;
}

.clinicas{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cosas{
    display:block;
    justify-content: space-around;
    margin-top: 20px;
}

.volver{
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    color:brown;
    margin-top: 20px;
    display: flex;
    text-align: left;
    margin-right: auto;
}

.barra{
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}   

.lista{
    display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.barra2{
    background-color: lightcyan;
    color: black;
    flex: 1 1 200px;
    margin: 10px;
}

.logo{
    background-color: lightseagreen;
    font-weight: bold;
    font-size: 24px;
    color: lightblue;
    margin-right: auto;
    gap: 20px;
    text-align: center;
}

.descripcion{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding-inline-start: 5px;
    color: gray;
    font-size: 14px;
}