*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

.titulo{
    text-align: center;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    color:aqua;
}

a{
    color:blue;
    padding: 10px;
    background-color: yellow;
    border-radius: 10px;
}

.enlaces{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.fotos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.letrero{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-inline-start: 5px;
    background-color: lightgray;
    border-radius: 10px;
}

.clinicas{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cosas{
    display:block;
    justify-content: space-around;
    margin-top: 20px;
}

.volver{
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    color:brown;
}